<!-- Name Form -->
<section class="col-4 px2 my2 mx-auto" *ngIf="!userName">
  <form #userNameForm="ngForm" novalidate (submit)="onUserNameSubmit(userNameForm.value)">
    <h3>Hello, Anonymous. What is your name?</h3>

    <div class="flex items-start">
      <div class="flex-auto flex flex-column">
        <input type="text" name="userName" #userNameInput="ngModel" ngModel required minlength="4" class="flex-auto">

        <!-- Errors -->
        <div *ngIf="!userNameInput.valid && userNameInput.dirty" class="has-error">
          <h4 *ngIf="userNameInput.hasError('required')">Username is required</h4>
          <h4 *ngIf="userNameInput.hasError('minlength')">Username could not be shorter than 4 symbols</h4>
        </div>
        <!-- Errors -->
      </div>

      <button type="submit" [disabled]="!userNameForm.valid">Submit</button>
    </div>
  </form>
</section>
<!-- Name Form -->

<!-- Chat -->
<section class="col-8 px2 my2 mx-auto flex flex-column" *ngIf="userName">
  <div class="flex-auto overflow-scroll" #messagesWindowRef>
    <!-- Chat Message -->
    <div *ngFor="let message of messages" class="flex items-start border-bottom py1">
      <h4 class="m0 mr1" *ngIf="message.name">{{message.name}}:</h4>
      <div class="flex-auto">{{message.text}}</div>
    </div>
    <!-- Chat Message -->
  </div>

  <!-- Chat Form -->
  <form novalidate #messageForm="ngForm" (submit)="onMessageSubmit()" class="flex items-start py2 mb2">
    <input type="text" name="userMessage" [(ngModel)]="userMessage" class="flex-auto" minlength="2">
    <button type="submit" [disabled]="!messageForm.valid" class="col-2">Send</button>
  </form>
  <!-- Chat Form -->
</section>
<!-- Chat -->
